---

title: 'Palma Cleaning'
description: 'Your Cleaning Solutions'
preloadImg: 'https://as1.ftcdn.net/v2/jpg/02/09/58/58/1000_F_209585829_NSOqdMwXdO5Q0zsqJyAWzuFSQ69WGlSU.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}


<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    <style>
    body {
      font-family: "Raleway", sans-serif;
    }
    
    </style>
    </head>


<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}



<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1623">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">
                <svg class="cs-chevron" width="49" height="15" viewBox="0 0 49 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.7">
                    <path d="M0.621948 7.49889L6.40262 15L10.343 15L4.56231 7.49889L10.343 -4.2492e-07L6.40262 -2.52681e-07L0.621948 7.49889Z" fill="#fff"/>
                    <path d="M7.62195 7.49889L13.4026 15L17.343 15L11.5623 7.49889L17.343 -4.2492e-07L13.4026 -2.52681e-07L7.62195 7.49889Z" fill="#fff"/>
                    <path d="M14.7789 7.49889L20.5596 15L24.5 15L18.7193 7.49889L24.5 -4.2492e-07L20.5596 -2.52681e-07L14.7789 7.49889Z" fill="#fff"/>
                    <path d="M22.7789 7.49889L28.5596 15L32.5 15L26.7193 7.49889L32.5 -4.2492e-07L28.5596 -2.52681e-07L22.7789 7.49889Z" fill="#fff"/>
                    <path d="M30.7789 7.49889L36.5596 15L40.5 15L34.7193 7.49889L40.5 -4.2492e-07L36.5596 -2.52681e-07L30.7789 7.49889Z" fill="#fff"/>
                    <path d="M38.7789 7.49889L44.5596 15L48.5 15L42.7193 7.49889L48.5 -4.2492e-07L44.5596 -2.52681e-07L38.7789 7.49889Z" fill="#fff"/>
                    </g>
                </svg>
                Palma Cleaning
                <svg class="cs-chevron" width="49" height="15" viewBox="0 0 49 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.7">
                    <path d="M48.3781 7.49889L42.5974 15L38.657 15L44.4377 7.49889L38.657 -4.2492e-07L42.5974 -2.52681e-07L48.3781 7.49889Z" fill="#fff"/>
                    <path d="M41.3781 7.49889L35.5974 15L31.657 15L37.4377 7.49889L31.657 -4.2492e-07L35.5974 -2.52681e-07L41.3781 7.49889Z" fill="#fff"/>
                    <path d="M34.2211 7.49889L28.4404 15L24.5 15L30.2807 7.49889L24.5 -4.2492e-07L28.4404 -2.52681e-07L34.2211 7.49889Z" fill="#fff"/>
                    <path d="M26.2211 7.49889L20.4404 15L16.5 15L22.2807 7.49889L16.5 -4.2492e-07L20.4404 -2.52681e-07L26.2211 7.49889Z" fill="#fff"/>
                    <path d="M18.2211 7.49889L12.4404 15L8.50004 15L14.2807 7.49889L8.50004 -4.2492e-07L12.4404 -2.52681e-07L18.2211 7.49889Z" fill="#fff"/>
                    <path d="M10.2211 7.49889L4.4404 15L0.500041 15L6.28071 7.49889L0.500042 -4.2492e-07L4.4404 -2.52681e-07L10.2211 7.49889Z" fill="#fff"/>
                    </g>
                </svg>
            </span>
            <h1 class="cs-title">
                Power Washing, Window Cleaning, Lawn Care
            </h1>
            <a href="/contact" class="cs-button-solid">Get Started</a>
            <!--Bottom Corners-->
            <div class="cs-corners" aria-hidden="true"></div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/ipowerwash-compressed-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/ipowerwash-compress.jpg">
        <img decoding="async" src="/assets/images/ipowerwash-compress.jpg" alt="meeting" width="1920" >
        <!-- <source media="(max-width: 600px)" srcset="image copy.png">
        <source media="(min-width: 601px)" srcset="image copy.png">
        <img loading="lazy" decoding="async" src="/assets/css/image copy.png" alt="meeting" width="1920" > -->


        <!-- <source media="(max-width: 600px)" srcset="https://st4.depositphotos.com/1203257/23512/i/1600/depositphotos_235127642-stock-photo-driveway-gate-pressure-washing-cleaning.jpg">
        <source media="(min-width: 601px)" srcset="https://st4.depositphotos.com/1203257/23512/i/1600/depositphotos_235127642-stock-photo-driveway-gate-pressure-washing-cleaning.jpg">
        <img loading="lazy" decoding="async" src="https://st4.depositphotos.com/1203257/23512/i/1600/depositphotos_235127642-stock-photo-driveway-gate-pressure-washing-cleaning.jpg" alt="meeting" width="1920" height="1200" aria-hidden="true"> -->
    </picture>


</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1130">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/Powerwash.html">
                <div class="cs-image-group">
                    <!-- <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity4.svg" alt="icon" width="48" height="48"> -->
                    <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/svgs/powerwash.svg" alt="graphic" width="100" height="103">
                </div>
                <h3 class="cs-h3">Power Washing</h3>
                <p class="cs-item-text">
                    Using Industrial-grade Equipment and Immense Experience, We Leave Each Site We Work on Exceoptionally Clean
                </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/GutterClean.html">
                <div class="cs-image-group">
                    <!-- <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity5.svg" alt="icon" width="48" height="48"> -->
                    <img class="cs-graphic" loading="lazy" decoding="async" src="assets/svgs/drain.svg" alt="graphic" width="100" height="103">
                </div>
                <h3 class="cs-h3">Gutter Cleaning</h3>
                <p class="cs-item-text">
                    Safeguard Your Home from Water Damage with Our Gutter Cleaning Service – Protecting Your Property One Clear Gutter at a Time.</p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/WindowClean.html">
                <div class="cs-image-group">
                    <!-- <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity6.svg" alt="icon" width="48" height="48"> -->
                    <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/svgs/windowic.svg" alt="graphic" width="100" height="103">
                </div>
                <h3 class="cs-h3">Window Cleaning</h3>
                <p class="cs-item-text">
                    Experience the clarity of pristine windows with our professional window cleaning service – let the light shine through with crystal-clear perfection.
                </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="/PostConstruct.html">
                <div class="cs-image-group">
                    <!-- <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity7.svg" alt="icon" width="48" height="48"> -->
                    <img class="cs-graphic" loading="lazy" decoding="async" src="/assets/svgs/Construction.svg" alt="graphic" width="100" height="103">
                </div>
                <h3 class="cs-h3">Construction Cleanup</h3>
                <p class="cs-item-text">
                    Elevate your construction site with our meticulous cleanup service – leaving your space pristine and ready for its next phase.
                </p>
                </a>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1255">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/Ipowerside-crop-comp.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/ipowerside-crop-comp.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/ipowerside-crop-comp.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>


        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Get To Know Palma Cleaning</h2>
            <p class="cs-text">
                We pride ourselves on delivering high-quality workmanship and always leaving the job in the best shape we possibly can. Our commitment to quality means you can trust us to get the job done right the first time
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="/assets/svgs//icons/cta-squares.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    Craftsmanship Excellence
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="/assets/svgs//icons/cta-squares.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    Quality Assurance
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="/assets/svgs//icons/cta-squares.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    Continuous Improvement
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="/assets/svgs//icons/cta-squares.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    Transparent Communication
                </li>
            </ul>
            <a href="/about" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->
<section id="services-1852">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <!-- <picture class="cs-picture cs-picture1"> -->
                <!--Mobile Image-->
                <!-- <source media="(max-width: 600px)" srcset="/assets/images/offerbrush.jpeg"> -->
                <!--Tablet and above Image-->
                <!-- <source media="(min-width: 601px)" srcset="/assets/images/offerbrush.jpeg">
                <img loading="lazy" decoding="async" src="/assets/images/offerbrush.jpeg" alt="appliance" width="364" height="375">
            </picture> -->
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/iGutterClean-compressed.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/iGutterClean-compressed.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/iGutterClean-compressed.jpg" alt="appliance" width="388" height="388">
            </picture>

        </div>
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">What Services You Can Get From Us</h2>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/PowerWash">
                        <h3 class="cs-h3">Power Washing</h3>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-arrow-body.svg" alt="icon" width="32" height="32">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/GutterClean">
                        <h3 class="cs-h3">Gutter Cleaning</h3>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-arrow-body.svg" alt="icon" width="32" height="32">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/WindowClean">
                        <h3 class="cs-h3">Window Cleaning</h3>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-arrow-body.svg" alt="icon" width="32" height="32">
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/PostConstruct">
                        <h3 class="cs-h3">Post-Construction Clean Up</h3>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-arrow-body.svg" alt="icon" width="32" height="32">
                    </a>
                </li>
                <!-- <li class="cs-li">
                    <a class="cs-link" href="">
                        <h3 class="cs-h3">Muscle Building</h3>
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gym-arrow-body.svg" alt="icon" width="32" height="32">
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1443">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/iWindowClean-compressed.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/iWindowClean-compressed.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/iWindowClean-compressed.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">At Palma Cleaning</h2>
            <p class="cs-text">
                Beyond cleaning, we're dedicated to enhancing your property's appeal and longevity. Choose us for expert power washing, window cleaning, and gutter cleaning – it's not just about service, it's about transforming and protecting your space.
             </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="/assets/images/icons/4.svg" decoding="async" alt="icon" width="48" height="48" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Complete Exterior Care</h3>
                        <p class="cs-li-text">
                            From power washing to window and gutter cleaning, we handle it all, ensuring your property shines from top to bottom.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="/assets/images/icons/5.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Expert Precision</h3>
                        <p class="cs-li-text">
                            Our skilled technicians deliver professional-quality results using advanced techniques and eco-friendly products, guaranteeing a sparkling finish every time.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="/assets/images/icons/6.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Dedicated Customer Satisfaction</h3>
                        <p class="cs-li-text">
                            We prioritize your happiness, offering prompt scheduling, friendly communication, and a commitment to exceeding your expectations with every service.
                        </p>
                    </div>
                </li>
            </ul>     
            <a href="/Contact" class="cs-button-solid">Get a Quote</a>        
        </div>
    </div>
</section>
                                                  


    
    {% include 'components/cta.html' %}
{% endblock %}